@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.mainBox {
    background: linear-gradient(-45deg, #e65100, #ff6d00, #bf360c, #ff8f00);
    background-size: 400% 400%;
    animation: gradientShift 8s ease infinite;
    font-size: 3rem;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    font-family: Bitcount Grid Double;
    color: #FFFFFF;
}
.projectRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 10rem;
}
.projectbox{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100rem;
    height: 10rem;
    text-align: center;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin: 1rem;
}