.navbar {
    width: 100%;
    padding: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #222;
}

.navbarLeft {
    flex: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbarRight {
    flex: 1;
    text-align: right;
}

.navbarLink {
    color: white;
    border: none;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: 0.075s linear color;
    margin: 0;
    padding: 0;
}

.navbarLink:not(:last-child) {
    padding-right: 1rem;
}

.navbarLink:hover {
    color: #ddd;
}

.navbarLinkHighlighted {
    color: #bbb;
    cursor: none;
}